<% layout('boilerplate') %>
<% block('styles') 
{%>
    <link rel="stylesheet" href="/css/home.css">
<%}%>

<main class="list">
<% if (success && success.length > 0) { %>
  <div class="flash-message">
    <%= success %>
    <button class="flash-close">&times;</button>
  </div>
<% } %>
<% if (success2 && success2.length > 0) { %>
  <div class="flash-message">
    <%= success2 %>
    <button class="flash-close">&times;</button>
  </div>
<% } %>
<% if (success3 && success3.length > 0) { %>
  <div class="flash-message">
    <%= success3 %>
    <button class="flash-close">&times;</button>
  </div>
<% } %>

    <% for(let i of data) 
    {%>
        <div
          class="card"
          role="button"
          tabindex="0"
          data-href="/listing/<%= i._id %>/show"
        >
            <img class="place-image" src="<%= i.image.url %>" alt="<%= i.image.filename %>" />
            <div class="card-content">
                <h2 class="title"><%= i.title %></h2>
                <div class="card-buttons">
                    <a href="/listing/<%= i._id %>/edit" class="btn edit-btn">Edit</a>
                    <form
                        action="/listing/<%= i._id %>/delete?_method=DELETE"
                        method="POST"
                        class="delete-form"
                    >
                        <button type="submit" class="btn delete-btn">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    <%}%>
</main>
<script src="/js/home.js"></script>